@import '~office-ui-fabric-react/dist/sass/References.scss';
.itemCell {
    // @include focus-border();
    border: 1px $ms-color-neutralTertiaryAlt solid;
    min-height: 54px;
    padding: 10px;
    box-sizing: border-box;
    // border-bottom: 1px solid $bodyDividerColor;
    display: flex;
}
// .itemCell:hover{
//     background: #EEE;
//     // cursor: pointer;
// }
.itemContent {
    //margin-left: 10px;
    // @include margin-left(10px);
    overflow: hidden;
    flex-grow: 1;
    ul {
        padding-left: 0;
        margin-top:0;
    }
    ul li {
        list-style-type: none;
    }
}
.itemName {
    @include ms-font-m-plus;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }   
  .itemLabel {
      font-weight: 600;
  } 
  .actionIconsContainer {
      margin-left: 6px;
      flex-shrink: 0;
      .ms-Button--icon {
        align-self: center;
        margin-left: 2px;
        flex-shrink: 0;
    }
    .approveButton:hover {
        color: green;
    }
    .rejectButton:hover  {
        color: red;
    }    
    i {
        @include ms-fontSize-xl;
        font-weight: $ms-font-weight-semibold;
    }
}